Repository DataDog/dd-trace-js, pull requests merged in 2021-12, with the labels that each got.

#1703 [ci-visibility] Remove Feature Tracking
  packages/dd-trace/src/plugins/util/ci-app-spec.json
Labels: ci-app

#1714 Appsec custom rules
  packages/dd-trace/src/appsec/index.js
  packages/dd-trace/src/config.js
  packages/dd-trace/test/appsec/index.spec.js
  packages/dd-trace/test/config.spec.js
Labels: appsec

#1700 update mongo test version to support mongodb 4.2
  .circleci/config.yml
  docker-compose.yml
Labels: dev/testing

#1693 Fix timeout overflow warning
  packages/dd-trace/src/profiling/exporters/agent.js
  packages/dd-trace/test/profiling/exporters/agent.spec.js
Labels: bug, profiling

#1702 Appsec 404 rules
  package.json
  packages/dd-trace/src/appsec/callbacks/ddwaf.js
  packages/dd-trace/src/appsec/recommended.json
  packages/dd-trace/test/appsec/callbacks/ddwaf.spec.js
Labels: appsec

#1719 fix sirun hiding errors
  benchmark/sirun/aggregate.js
  benchmark/sirun/async_hooks/index.js
  benchmark/sirun/exporting-pipeline/README.md
  benchmark/sirun/exporting-pipeline/index.js
  benchmark/sirun/exporting-pipeline/meta.json
  benchmark/sirun/run-all-variants.js
  benchmark/sirun/scope/meta.json
Labels: dev/tooling

#1707 replace mysql with mariadb for tests
  .circleci/config.yml
  docker-compose.yml
Labels: dev/testing, dev/tooling

#1720 fix upstream tests
  .circleci/config.yml
  packages/datadog-plugin-jest/test/circus.spec.js
  packages/datadog-plugin-pino/test/suite.js
  packages/dd-trace/test/plugins/suite.js
Labels: dev/testing, dev/tooling

#1724 [ci-visibility] Improve Initialization of CI Visibility Library
  ci/init.js
  ci/jest/env.js
Labels: ci-app

#1722 Appsec over spans
  packages/dd-trace/src/appsec/callbacks/ddwaf.js
  packages/dd-trace/src/appsec/index.js
  packages/dd-trace/src/appsec/reporter.js
  packages/dd-trace/test/appsec/callbacks/ddwaf.spec.js
  packages/dd-trace/test/appsec/index.spec.js
  packages/dd-trace/test/appsec/reporter.spec.js
Labels: appsec

#1684 AppSec benchmarks
  .circleci/config.yml
  benchmark/sirun/appsec/README.md
  benchmark/sirun/appsec/client.js
  benchmark/sirun/appsec/common.js
  benchmark/sirun/appsec/meta.json
  benchmark/sirun/appsec/server.js
Labels: appsec
