Repository DataDog/dd-trace-js, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/dd-trace-js, @DataDog/appsec-js, @DataDog/ci-app-libraries

update tests
  packages/datadog-plugin-jest/test/circus.spec.js
  packages/datadog-plugin-jest/test/jasmine2.spec.js
  packages/datadog-plugin-mocha/test/index.spec.js
Owners: @DataDog/ci-app-libraries

Pin opensearch server to 2.8.0
  .github/workflows/plugins.yml
Owners: @DataDog/dd-trace-js

Update tgz
  datadog-native-iast-rewriter-2.1.2.tgz
Owners: @DataDog/dd-trace-js

Pin opensearch server to 2.8.0 (#3459)
  .github/workflows/plugins.yml
Owners: @DataDog/dd-trace-js

Another tgz :S
  datadog-native-iast-rewriter-2.1.3.tgz
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

Do not replace vuln location
  packages/dd-trace/src/appsec/iast/analyzers/vulnerability-analyzer.js
Owners: @DataDog/appsec-js

rewriter 2.0.2
  package.json
Owners: @DataDog/dd-trace-js

2.1.1 tgz without wasm binds and tracer_logger
  datadog-native-iast-rewriter-2.1.1.tgz
  datadog-native-iast-rewriter-2.1.2.tgz
  datadog-native-iast-rewriter-2.1.3.tgz
  datadog-native-iast-rewriter-2.1.4.tgz
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

2.1.1 tgz without log macros, wasm binds and tracer_logger
  datadog-native-iast-rewriter-2.1.5.tgz
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

2.1.1 tgz without LRU, log macros, wasm binds and tracer_logger
  datadog-native-iast-rewriter-2.1.6.tgz
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

2.0.7 tgz based on 2.0.1 release
  datadog-native-iast-rewriter-2.0.7.tgz
  package.json
  packages/dd-trace/src/appsec/iast/taint-tracking/rewriter.js
  yarn.lock
Owners: @DataDog/dd-trace-js, @DataDog/appsec-js

Test release 2.0.1
  datadog-native-iast-rewriter-2.1.0.tgz
  datadog-native-iast-rewriter-2.1.4.tgz
  datadog-native-iast-rewriter-2.1.5.tgz
  datadog-native-iast-rewriter-2.1.6.tgz
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

Temporarily remove failing test
  packages/dd-trace/test/appsec/iast/analyzers/vulnerability-analyzer.spec.js
Owners: @DataDog/appsec-js

streamline aws operation/service names
  packages/datadog-plugin-aws-sdk/src/base.js
  packages/datadog-plugin-aws-sdk/src/services/lambda.js
  packages/datadog-plugin-aws-sdk/src/services/sns.js
  packages/datadog-plugin-aws-sdk/src/services/sqs.js
Owners: @DataDog/dd-trace-js

esbuild: fix resolving of deep modules (#3448)
  packages/datadog-esbuild/index.js
  packages/datadog-instrumentations/index.js
  packages/datadog-instrumentations/src/helpers/bundler-register.js
  packages/datadog-instrumentations/src/helpers/hook.js
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/helpers/register.js
  packages/dd-trace/src/dcitm.js
Owners: @DataDog/dd-trace-js

fix disable options for fetch instrumentation
  packages/datadog-instrumentations/src/helpers/register.js
Owners: @DataDog/dd-trace-js

Fix clientIpEnabled (#3442)
  packages/dd-trace/src/plugin_manager.js
  packages/dd-trace/test/plugin_manager.spec.js
Owners: @DataDog/dd-trace-js

add hook for render-server-standalone
  packages/datadog-instrumentations/src/next.js
Owners: @DataDog/dd-trace-js

fix disable option for fetch instrumentation (#3460)
  packages/datadog-instrumentations/src/helpers/register.js
Owners: @DataDog/dd-trace-js

separate naming expectations from tests
  packages/datadog-plugin-aws-sdk/test/kinesis-naming.js
  packages/datadog-plugin-aws-sdk/test/kinesis.spec.js
  packages/datadog-plugin-aws-sdk/test/lambda-naming.js
  packages/datadog-plugin-aws-sdk/test/lambda.spec.js
  packages/datadog-plugin-aws-sdk/test/s3-naming.js
  packages/datadog-plugin-aws-sdk/test/s3.spec.js
  packages/datadog-plugin-aws-sdk/test/sns-naming.js
  packages/datadog-plugin-aws-sdk/test/sns.spec.js
  packages/datadog-plugin-aws-sdk/test/sqs-naming.js
  packages/datadog-plugin-aws-sdk/test/sqs.spec.js
  packages/datadog-plugin-fetch/test/index.spec.js
  packages/datadog-plugin-fetch/test/naming.js
  packages/datadog-plugin-http/test/client.spec.js
  packages/datadog-plugin-http/test/naming.js
  packages/datadog-plugin-http/test/server.spec.js
  packages/datadog-plugin-http2/test/client.spec.js
  packages/datadog-plugin-http2/test/naming.js
  packages/datadog-plugin-http2/test/server.spec.js
  packages/datadog-plugin-next/test/index.spec.js
  packages/datadog-plugin-next/test/naming.js
Owners: @DataDog/dd-trace-js

set default flush interval to zero only for lambda sls environments
  packages/dd-trace/src/config.js
Owners: @DataDog/dd-trace-js

W3C is no longer prioritized over Datadog headers.
  MIGRATING.md
Owners: @DataDog/dd-trace-js

Update trivially upgraded dependencies
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

Add a note about code density
  CONTRIBUTING.md
Owners: @DataDog/dd-trace-js

Remove inconsistent title punctuation
  CONTRIBUTING.md
Owners: @DataDog/dd-trace-js

Apply suggestions from code review
  CONTRIBUTING.md
Owners: @DataDog/dd-trace-js

Move markdown footnote link to the bottom of the doc
  CONTRIBUTING.md
Owners: @DataDog/dd-trace-js

Light rewording
  CONTRIBUTING.md
Owners: @DataDog/dd-trace-js

Add some more details about testing, ci, and dont-land-on-x labels
  CONTRIBUTING.md
Owners: @DataDog/dd-trace-js

Expand CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @DataDog/dd-trace-js

Clarify approach to making things backportable
  CONTRIBUTING.md
Owners: @DataDog/dd-trace-js

Remove old fields from Instrumentation Telemetry Metrics
  integration-tests/opentelemetry.spec.js
  packages/dd-trace/src/telemetry/metrics.js
  packages/dd-trace/test/telemetry/metrics.spec.js
Owners: @DataDog/dd-trace-js

Update trivially upgraded dependencies (#3409)
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

W3C is no longer prioritized over Datadog headers. (#3463)
  MIGRATING.md
Owners: @DataDog/dd-trace-js

Allow PR commenter failure instead of silencing (#3425)
  .gitlab/benchmarks.yml
Owners: @DataDog/dd-trace-js

test tgz again
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

Try dependency with file:
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

2.0.1 tgz
  datadog-native-iast-rewriter-2.0.1.tgz
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

test 2.0.2 release
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

Test 2.0.1 tgz from npm registry
  native-iast-rewriter-2.0.1.tgz
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

CODEOWNERS:

* @DataDog/dd-trace-js
/packages/dd-trace/src/appsec/ @DataDog/appsec-js
/packages/dd-trace/test/appsec/ @DataDog/appsec-js

/packages/dd-trace/src/ci-visibility/ @DataDog/ci-app-libraries
/packages/datadog-plugin-jest/ @DataDog/ci-app-libraries
/packages/datadog-plugin-mocha/ @DataDog/ci-app-libraries
/packages/datadog-plugin-cucumber/ @DataDog/ci-app-libraries
/packages/datadog-plugin-cypress/ @DataDog/ci-app-libraries
/packages/datadog-plugin-playwright/ @DataDog/ci-app-libraries

/packages/datadog-instrumentations/src/jest.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/mocha.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cucumber.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cypress.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/playwright.js @DataDog/ci-app-libraries

/integration-tests/ci-visibility/ @DataDog/ci-app-libraries
/integration-tests/cucumber/ @DataDog/ci-app-libraries
/integration-tests/cypress/ @DataDog/ci-app-libraries
/integration-tests/playwright/ @DataDog/ci-app-libraries
/integration-tests/ci-visibility-spec.js @DataDog/ci-app-libraries
/integration-tests/test-api-manual.spec.js @DataDog/ci-app-libraries
