Repository DataDog/dd-trace-js, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/dd-trace-js, @DataDog/asm-js, @Datadog/dd-trace-js, @Datadog/apm-framework-integrations-reviewers-js, @DataDog/ci-app-libraries

v3.35.0
  package.json
Owners: @DataDog/dd-trace-js

core: skip mongodb-core esm tests for node v14 (#3602)
  packages/datadog-plugin-mongodb-core/test/integration-test/client.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-framework-integrations-reviewers-js

[ci-visibility] Remove code for 2.x (#3596)
  integration-tests/ci-visibility.spec.js
  integration-tests/cypress/cypress.spec.js
  integration-tests/playwright/playwright.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

v4.14.0
  package.json
Owners: @DataDog/dd-trace-js

core: skip mongodb-core esm tests for node v14 (#3602)
  packages/datadog-plugin-mongodb-core/test/integration-test/client.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-framework-integrations-reviewers-js

[ci-visibility] Remove code for 2.x (#3596)
  integration-tests/ci-visibility.spec.js
  integration-tests/cypress/cypress.spec.js
  integration-tests/playwright/playwright.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

Khanayan123/add esm tests for testing plugins (#3555)
  integration-tests/ci-visibility.spec.js
  integration-tests/ci-visibility/features-esm/farewell.feature
  integration-tests/ci-visibility/features-esm/greetings.feature
  integration-tests/ci-visibility/features-esm/support/steps.mjs
  integration-tests/ci-visibility/run-jest.mjs
  integration-tests/ci-visibility/run-mocha.mjs
  integration-tests/cucumber/cucumber.spec.js
  integration-tests/cypress-config.json
  integration-tests/cypress-esm-config.mjs
  integration-tests/cypress.config.js
  integration-tests/cypress/cypress.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

v3.35.0
  package.json
Owners: @DataDog/dd-trace-js

skip esm mocha tests in node < 16 (#3584)
  integration-tests/ci-visibility.spec.js
Owners: @DataDog/dd-trace-js

Update AppSec rules to 1.7.2 (#3592)
  packages/dd-trace/src/appsec/recommended.json
Owners: @DataDog/asm-js

fix mongo tests for new version (#3599)
  packages/datadog-plugin-mongodb-core/test/mongodb.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-framework-integrations-reviewers-js

[profiling] Report occurrence of v8 bug through telemetry (#3579)
  packages/dd-trace/src/profiling/profilers/wall.js
Owners: @DataDog/dd-trace-js

core: ensure custom/runtime metrics configured similarly (#3590)
  packages/dd-trace/src/dogstatsd.js
  packages/dd-trace/src/proxy.js
  packages/dd-trace/src/runtime_metrics.js
  packages/dd-trace/test/dogstatsd.spec.js
  packages/dd-trace/test/proxy.spec.js
  packages/dd-trace/test/runtime_metrics.spec.js
Owners: @DataDog/dd-trace-js

core: skip mongodb-core esm tests for node v14 (#3602)
  packages/datadog-plugin-mongodb-core/test/integration-test/client.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-framework-integrations-reviewers-js

Modify vulnerability location using js file sourcemap (#3304)
  package.json
  packages/dd-trace/src/appsec/iast/analyzers/vulnerability-analyzer.js
  packages/dd-trace/src/appsec/iast/path-line.js
  packages/dd-trace/src/appsec/iast/taint-tracking/rewriter.js
  packages/dd-trace/test/appsec/iast/analyzers/resources/redirect-express-functions.min.js
  packages/dd-trace/test/appsec/iast/analyzers/resources/redirect-express-functions.min.js.map
  packages/dd-trace/test/appsec/iast/analyzers/vulnerability-analyzer.express.plugin.spec.js
  packages/dd-trace/test/appsec/iast/analyzers/vulnerability-analyzer.spec.js
  packages/dd-trace/test/appsec/iast/path-line.spec.js
  packages/dd-trace/test/appsec/iast/taint-tracking/rewriter.spec.js
  packages/dd-trace/test/appsec/iast/vulnerability-formatter/index.spec.js
  yarn.lock
Owners: @DataDog/dd-trace-js, @DataDog/asm-js

[ci-visibility] Do not modify mocha config if CI visibility fails to init (#3586)
  integration-tests/ci-visibility.spec.js
  integration-tests/helpers.js
  packages/datadog-instrumentations/src/mocha.js
  packages/dd-trace/src/plugins/util/test.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

ci: upgrade label checker (#3585)
  .github/workflows/pr-labels.yml
Owners: @DataDog/dd-trace-js

[ci-visibility] Fix cypress if ci vis init fails (#3587)
  integration-tests/cypress-config.json
  integration-tests/cypress-esm-config.mjs
  integration-tests/cypress.config.js
  integration-tests/cypress/cypress.spec.js
  packages/datadog-plugin-cypress/src/plugin.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

Update AppSec rules to 1.7.2 (#3592)
  packages/dd-trace/src/appsec/recommended.json
Owners: @DataDog/asm-js

core: ensure custom/runtime metrics configured similarly (#3590)
  packages/dd-trace/src/dogstatsd.js
  packages/dd-trace/src/proxy.js
  packages/dd-trace/src/runtime_metrics.js
  packages/dd-trace/test/dogstatsd.spec.js
  packages/dd-trace/test/proxy.spec.js
  packages/dd-trace/test/runtime_metrics.spec.js
Owners: @DataDog/dd-trace-js

Modify vulnerability location using js file sourcemap (#3304)
  package.json
  packages/dd-trace/src/appsec/iast/analyzers/vulnerability-analyzer.js
  packages/dd-trace/src/appsec/iast/path-line.js
  packages/dd-trace/src/appsec/iast/taint-tracking/rewriter.js
  packages/dd-trace/test/appsec/iast/analyzers/resources/redirect-express-functions.min.js
  packages/dd-trace/test/appsec/iast/analyzers/resources/redirect-express-functions.min.js.map
  packages/dd-trace/test/appsec/iast/analyzers/vulnerability-analyzer.express.plugin.spec.js
  packages/dd-trace/test/appsec/iast/analyzers/vulnerability-analyzer.spec.js
  packages/dd-trace/test/appsec/iast/path-line.spec.js
  packages/dd-trace/test/appsec/iast/taint-tracking/rewriter.spec.js
  packages/dd-trace/test/appsec/iast/vulnerability-formatter/index.spec.js
  yarn.lock
Owners: @DataDog/dd-trace-js, @DataDog/asm-js

fix mongo tests for new version (#3599)
  packages/datadog-plugin-mongodb-core/test/mongodb.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-framework-integrations-reviewers-js

[ci-visibility] Do not modify mocha config if CI visibility fails to init (#3586)
  integration-tests/ci-visibility.spec.js
  integration-tests/helpers.js
  packages/datadog-instrumentations/src/mocha.js
  packages/dd-trace/src/plugins/util/test.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

ci: upgrade label checker (#3585)
  .github/workflows/pr-labels.yml
Owners: @DataDog/dd-trace-js

[ci-visibility] Remove code for 2.x (#3596)
  integration-tests/ci-visibility.spec.js
  integration-tests/cypress/cypress.spec.js
  integration-tests/playwright/playwright.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

[ci-visibility] Fix cypress if ci vis init fails (#3587)
  integration-tests/cypress-config.json
  integration-tests/cypress-esm-config.mjs
  integration-tests/cypress.config.js
  integration-tests/cypress/cypress.spec.js
  packages/datadog-plugin-cypress/src/plugin.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

v4.14.0
  package.json
Owners: @DataDog/dd-trace-js

[profiling] Report occurrence of v8 bug through telemetry (#3579)
  packages/dd-trace/src/profiling/profilers/wall.js
Owners: @DataDog/dd-trace-js

Khanayan123/add esm tests for testing plugins (#3555)
  integration-tests/ci-visibility.spec.js
  integration-tests/ci-visibility/features-esm/farewell.feature
  integration-tests/ci-visibility/features-esm/greetings.feature
  integration-tests/ci-visibility/features-esm/support/steps.mjs
  integration-tests/ci-visibility/run-jest.mjs
  integration-tests/ci-visibility/run-mocha.mjs
  integration-tests/cucumber/cucumber.spec.js
  integration-tests/cypress-config.json
  integration-tests/cypress-esm-config.mjs
  integration-tests/cypress.config.js
  integration-tests/cypress/cypress.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

skip esm mocha tests in node < 16 (#3584)
  integration-tests/ci-visibility.spec.js
Owners: @DataDog/dd-trace-js

core: skip mongodb-core esm tests for node v14 (#3602)
  packages/datadog-plugin-mongodb-core/test/integration-test/client.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-framework-integrations-reviewers-js

wip
  integration-tests/helpers.js
  package.json
  packages/dd-trace/src/collector/encoder.js
  packages/dd-trace/src/collector/exporter.js
  yarn.lock
Owners: @DataDog/dd-trace-js

fix errors from object shape of pg query being altered
  packages/datadog-instrumentations/src/pg.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-framework-integrations-reviewers-js

Fix LDAPi vulnerability location (#3593)
  packages/dd-trace/src/appsec/iast/analyzers/ldap-injection-analyzer.js
  packages/dd-trace/src/util.js
  packages/dd-trace/test/appsec/iast/analyzers/ldap-injection-analyzer.ldapjs.plugin.spec.js
  packages/dd-trace/test/appsec/iast/analyzers/resources/ldap-injection-methods.js
  packages/dd-trace/test/appsec/iast/path-line.spec.js
  packages/dd-trace/test/plugins/externals.json
Owners: @DataDog/asm-js, @DataDog/dd-trace-js

CODEOWNERS:

* @DataDog/dd-trace-js
/packages/dd-trace/src/appsec/ @DataDog/asm-js
/packages/dd-trace/test/appsec/ @DataDog/asm-js

/packages/datadog-plugin-*/ @Datadog/dd-trace-js @Datadog/apm-framework-integrations-reviewers-js
/packages/datadog-instrumentations/ @Datadog/dd-trace-js @Datadog/apm-framework-integrations-reviewers-js
/packages/ddtrace/src/plugins/ @DataDog/dd-trace-js @Datadog/apm-framework-integrations-reviewers-js
/packages/ddtrace/test/plugins/ @DataDog/dd-trace-js @Datadog/apm-framework-integrations-reviewers-js

/packages/dd-trace/src/ci-visibility/ @DataDog/ci-app-libraries
/packages/datadog-plugin-jest/ @DataDog/ci-app-libraries
/packages/datadog-plugin-mocha/ @DataDog/ci-app-libraries
/packages/datadog-plugin-cucumber/ @DataDog/ci-app-libraries
/packages/datadog-plugin-cypress/ @DataDog/ci-app-libraries
/packages/datadog-plugin-playwright/ @DataDog/ci-app-libraries

/packages/datadog-instrumentations/src/jest.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/mocha.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cucumber.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cypress.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/playwright.js @DataDog/ci-app-libraries

/integration-tests/ci-visibility/ @DataDog/ci-app-libraries
/integration-tests/cucumber/ @DataDog/ci-app-libraries
/integration-tests/cypress/ @DataDog/ci-app-libraries
/integration-tests/playwright/ @DataDog/ci-app-libraries
/integration-tests/ci-visibility-spec.js @DataDog/ci-app-libraries
/integration-tests/test-api-manual.spec.js @DataDog/ci-app-libraries

/packages/dd-trace/src/service-naming/ @Datadog/apm-framework-integrations-reviewers-js
/packages/dd-trace/test/service-naming/ @Datadog/apm-framework-integrations-reviewers-js
