Repository DataDog/dd-trace-js, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/dd-trace-js, @DataDog/appsec-js, @DataDog/ci-app-libraries

CODEOWNERS:

* @DataDog/dd-trace-js
/packages/dd-trace/src/appsec/ @DataDog/appsec-js
/packages/dd-trace/test/appsec/ @DataDog/appsec-js

/packages/dd-trace/src/ci-visibility/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-plugin-jest/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-plugin-mocha/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-plugin-cucumber/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-plugin-cypress/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-plugin-playwright/ @DataDog/dd-trace-js @DataDog/ci-app-libraries

/packages/datadog-instrumentations/src/jest.js @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/mocha.js @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cucumber.js @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cypress.js @DataDog/dd-trace-js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/playwright.js @DataDog/dd-trace-js @DataDog/ci-app-libraries

/integration-tests/ci-visibility/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/integration-tests/cucumber/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/integration-tests/cypress/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/integration-tests/playwright/ @DataDog/dd-trace-js @DataDog/ci-app-libraries
/integration-tests/ci-visibility-spec.js @DataDog/dd-trace-js @DataDog/ci-app-libraries
/integration-tests/test-api-manual.spec.js @DataDog/dd-trace-js @DataDog/ci-app-libraries

increase test timeout
  packages/datadog-plugin-aws-sdk/test/sqs.spec.js
Owners: @DataDog/dd-trace-js

feat: add the lib/core file which each client lib imports directly, s… (#3434)
  packages/datadog-instrumentations/src/aws-sdk.js
  packages/datadog-plugin-aws-sdk/test/aws-sdk.spec.js
Owners: @DataDog/dd-trace-js

[ci-visibility] Fix cache issues with `jest` and CI Visibility (#3445)
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/jest.js
  packages/dd-trace/src/plugins/index.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

v2.42.1
  package.json
Owners: @DataDog/dd-trace-js

fix fetch integration leaking its async context (#3438)
  packages/datadog-instrumentations/src/fetch.js
  packages/datadog-instrumentations/src/http/client.js
  packages/datadog-instrumentations/src/http2/client.js
  packages/datadog-plugin-fetch/src/index.js
  packages/datadog-plugin-http/src/client.js
  packages/diagnostics_channel/src/index.js
Owners: @DataDog/dd-trace-js

fix incorrect value for fetch method tag (#3447)
  packages/datadog-plugin-fetch/src/index.js
  packages/datadog-plugin-fetch/test/index.spec.js
Owners: @DataDog/dd-trace-js

[ci-visibility] Fix cache issues with `jest` and CI Visibility (#3445)
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/jest.js
  packages/dd-trace/src/plugins/index.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

feat: add the lib/core file which each client lib imports directly, s… (#3434)
  packages/datadog-instrumentations/src/aws-sdk.js
  packages/datadog-plugin-aws-sdk/test/aws-sdk.spec.js
Owners: @DataDog/dd-trace-js

fix fetch integration leaking its async context (#3438)
  packages/datadog-instrumentations/src/fetch.js
  packages/datadog-instrumentations/src/http/client.js
  packages/datadog-instrumentations/src/http2/client.js
  packages/datadog-plugin-fetch/src/index.js
  packages/datadog-plugin-http/src/client.js
  packages/diagnostics_channel/src/index.js
Owners: @DataDog/dd-trace-js

v3.29.1
  package.json
Owners: @DataDog/dd-trace-js

fix incorrect value for fetch method tag (#3447)
  packages/datadog-plugin-fetch/src/index.js
  packages/datadog-plugin-fetch/test/index.spec.js
Owners: @DataDog/dd-trace-js

fix incorrect value for fetch method tag (#3447)
  packages/datadog-plugin-fetch/src/index.js
  packages/datadog-plugin-fetch/test/index.spec.js
Owners: @DataDog/dd-trace-js

[ci-visibility] Fix cache issues with `jest` and CI Visibility (#3445)
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/jest.js
  packages/dd-trace/src/plugins/index.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

v4.8.1
  package.json
Owners: @DataDog/dd-trace-js

fix fetch integration leaking its async context (#3438)
  packages/datadog-instrumentations/src/fetch.js
  packages/datadog-instrumentations/src/http/client.js
  packages/datadog-instrumentations/src/http2/client.js
  packages/datadog-plugin-fetch/src/index.js
  packages/datadog-plugin-http/src/client.js
  packages/diagnostics_channel/src/index.js
Owners: @DataDog/dd-trace-js

feat: add the lib/core file which each client lib imports directly, s… (#3434)
  packages/datadog-instrumentations/src/aws-sdk.js
  packages/datadog-plugin-aws-sdk/test/aws-sdk.spec.js
Owners: @DataDog/dd-trace-js

add lambda
  packages/datadog-plugin-aws-sdk/src/services/lambda.js
  packages/datadog-plugin-aws-sdk/test/lambda.spec.js
  packages/datadog-plugin-aws-sdk/test/sqs.spec.js
  packages/dd-trace/src/service-naming/schemas/v0/web.js
  packages/dd-trace/src/service-naming/schemas/v1/web.js
Owners: @DataDog/dd-trace-js

adding standalone test support
  packages/datadog-instrumentations/src/next.js
  packages/datadog-plugin-next/src/index.js
  packages/datadog-plugin-next/test/index.spec.js
Owners: @DataDog/dd-trace-js

[Serverless] spawn mini agent in azure functions (#3200)
  packages/dd-trace/src/config.js
  packages/dd-trace/src/proxy.js
  packages/dd-trace/src/serverless.js
  packages/dd-trace/test/config.spec.js
  packages/dd-trace/test/serverless.spec.js
Owners: @DataDog/dd-trace-js

Update test-gcloud-function.sh
  integration-tests/serverless/test-gcloud-function.sh
Owners: @DataDog/dd-trace-js

fix lint
  packages/dd-trace/src/service-naming/schemas/v1/messaging.js
  packages/dd-trace/src/service-naming/schemas/v1/web.js
Owners: @DataDog/dd-trace-js

add tests
  packages/datadog-plugin-aws-sdk/test/kinesis.spec.js
  packages/datadog-plugin-aws-sdk/test/lambda.spec.js
  packages/datadog-plugin-aws-sdk/test/s3.spec.js
  packages/datadog-plugin-aws-sdk/test/sns.spec.js
  packages/datadog-plugin-aws-sdk/test/sqs.spec.js
Owners: @DataDog/dd-trace-js

fix test
  packages/datadog-plugin-aws-sdk/test/kinesis.spec.js
Owners: @DataDog/dd-trace-js

fix tests
  packages/datadog-plugin-aws-sdk/test/kinesis.spec.js
  packages/datadog-plugin-aws-sdk/test/lambda.spec.js
  packages/datadog-plugin-aws-sdk/test/s3.spec.js
  packages/datadog-plugin-aws-sdk/test/sns.spec.js
  packages/datadog-plugin-aws-sdk/test/sqs.spec.js
Owners: @DataDog/dd-trace-js

fix lint
  packages/datadog-plugin-jest/test/circus.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

Add exclusions for weak hash vulnerabilities (#3424)
  packages/dd-trace/src/appsec/iast/analyzers/weak-hash-analyzer.js
  packages/dd-trace/test/appsec/iast/analyzers/weak-hash-analyzer.spec.js
Owners: @DataDog/appsec-js

Publish resolvers in order to monitor Graphql attacks.
  packages/datadog-instrumentations/src/graphql.js
  packages/dd-trace/src/appsec/addresses.js
  packages/dd-trace/src/appsec/channels.js
  packages/dd-trace/src/appsec/index.js
  packages/dd-trace/test/appsec/index.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/appsec-js

Remove blank space in usr.id field.
  packages/dd-trace/src/appsec/passport.js
  packages/dd-trace/test/appsec/passport.spec.js
Owners: @DataDog/appsec-js

wait for flush in jest
  packages/datadog-instrumentations/src/jest.js
  packages/datadog-plugin-jest/src/index.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

it works
  packages/datadog-esbuild/index.js
  packages/datadog-instrumentations/src/aws-sdk.js
  packages/datadog-instrumentations/src/helpers/hook.js
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/helpers/register.js
  packages/datadog-instrumentations/src/redis.js
  packages/dd-trace/src/dcitm.js
Owners: @DataDog/dd-trace-js

Fix flaky serverless integration test (part2) (#3446)
  integration-tests/serverless/test-gcloud-function.sh
Owners: @DataDog/dd-trace-js

fixed bug when requiring package externally
  packages/datadog-instrumentations/src/helpers/register.js
  packages/dd-trace/src/dcitm.js
Owners: @DataDog/dd-trace-js

delete dcitm
  packages/datadog-instrumentations/src/helpers/hook.js
  packages/dd-trace/src/dcitm.js
Owners: @DataDog/dd-trace-js

cleanup
  packages/datadog-esbuild/index.js
  packages/datadog-instrumentations/src/aws-sdk.js
  packages/datadog-instrumentations/src/express.js
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/helpers/register.js
  packages/datadog-instrumentations/src/redis.js
Owners: @DataDog/dd-trace-js

more cleanup
  packages/datadog-esbuild/index.js
  packages/datadog-instrumentations/src/helpers/hook.js
  packages/datadog-instrumentations/src/helpers/register.js
Owners: @DataDog/dd-trace-js

lint
  packages/datadog-esbuild/index.js
  packages/datadog-instrumentations/src/helpers/register.js
Owners: @DataDog/dd-trace-js

cleanup
  packages/datadog-instrumentations/src/helpers/register.js
Owners: @DataDog/dd-trace-js

no longer crash with dead code requires
  packages/datadog-esbuild/index.js
Owners: @DataDog/dd-trace-js

printing package name when hook fails to run
  packages/datadog-instrumentations/src/helpers/register.js
Owners: @DataDog/dd-trace-js

knex was also missing
  packages/datadog-instrumentations/src/helpers/hooks.js
Owners: @DataDog/dd-trace-js
