Repository DataDog/dd-trace-js, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/dd-trace-js, @DataDog/appsec-js, @DataDog/ci-app-libraries

CODEOWNERS:

* @DataDog/dd-trace-js
/packages/dd-trace/src/appsec/ @DataDog/appsec-js
/packages/dd-trace/test/appsec/ @DataDog/appsec-js

/packages/dd-trace/src/ci-visibility/ @DataDog/ci-app-libraries
/packages/datadog-plugin-jest/ @DataDog/ci-app-libraries
/packages/datadog-plugin-mocha/ @DataDog/ci-app-libraries
/packages/datadog-plugin-cucumber/ @DataDog/ci-app-libraries
/packages/datadog-plugin-cypress/ @DataDog/ci-app-libraries
/packages/datadog-plugin-playwright/ @DataDog/ci-app-libraries

/packages/datadog-instrumentations/src/jest.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/mocha.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cucumber.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cypress.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/playwright.js @DataDog/ci-app-libraries

/integration-tests/ci-visibility/ @DataDog/ci-app-libraries
/integration-tests/cucumber/ @DataDog/ci-app-libraries
/integration-tests/cypress/ @DataDog/ci-app-libraries
/integration-tests/playwright/ @DataDog/ci-app-libraries
/integration-tests/ci-visibility-spec.js @DataDog/ci-app-libraries
/integration-tests/test-api-manual.spec.js @DataDog/ci-app-libraries

W3C is no longer prioritized over Datadog headers. (#3463)
  MIGRATING.md
Owners: @DataDog/dd-trace-js

Update trivially upgraded dependencies (#3409)
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

fix disable option for fetch instrumentation (#3460)
  packages/datadog-instrumentations/src/helpers/register.js
Owners: @DataDog/dd-trace-js

Fix clientIpEnabled (#3442)
  packages/dd-trace/src/plugin_manager.js
  packages/dd-trace/test/plugin_manager.spec.js
Owners: @DataDog/dd-trace-js

Allow PR commenter failure instead of silencing (#3425)
  .gitlab/benchmarks.yml
Owners: @DataDog/dd-trace-js

[ci-visibility] Do not mess with jest's test-sequencer (#3452)
  integration-tests/ci-visibility.spec.js
  integration-tests/ci-visibility/run-jest.js
  integration-tests/ci-visibility/sharding-test/sharding-test-1.js
  integration-tests/ci-visibility/sharding-test/sharding-test-2.js
  integration-tests/ci-visibility/sharding-test/sharding-test-3.js
  integration-tests/ci-visibility/sharding-test/sharding-test-4.js
  integration-tests/ci-visibility/sharding-test/sharding-test-5.js
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/jest.js
  packages/dd-trace/src/plugins/index.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

Fix stringifying mongodb queries that are self referencing but provide toJSON methods (#3417)
  packages/datadog-plugin-mongodb-core/src/index.js
  packages/datadog-plugin-mongodb-core/test/mongodb.spec.js
Owners: @DataDog/dd-trace-js

v3.30.0
  package.json
Owners: @DataDog/dd-trace-js

[Serverless] spawn mini agent in azure functions (#3200)
  packages/dd-trace/src/config.js
  packages/dd-trace/src/proxy.js
  packages/dd-trace/src/serverless.js
  packages/dd-trace/test/config.spec.js
  packages/dd-trace/test/serverless.spec.js
Owners: @DataDog/dd-trace-js

Pin opensearch server to 2.8.0 (#3459)
  .github/workflows/plugins.yml
Owners: @DataDog/dd-trace-js

skip flaky redis error test (#3450)
  packages/datadog-plugin-redis/test/legacy.spec.js
Owners: @DataDog/dd-trace-js

Add exclusions for weak hash vulnerabilities (#3424)
  packages/dd-trace/src/appsec/iast/analyzers/weak-hash-analyzer.js
  packages/dd-trace/test/appsec/iast/analyzers/weak-hash-analyzer.spec.js
Owners: @DataDog/appsec-js

esbuild: fix resolving of deep modules (#3448)
  packages/datadog-esbuild/index.js
  packages/datadog-instrumentations/index.js
  packages/datadog-instrumentations/src/helpers/bundler-register.js
  packages/datadog-instrumentations/src/helpers/hook.js
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/helpers/register.js
  packages/dd-trace/src/dcitm.js
Owners: @DataDog/dd-trace-js

Fix flaky serverless integration test (part2) (#3446)
  integration-tests/serverless/test-gcloud-function.sh
Owners: @DataDog/dd-trace-js

fix fetch propagation headers with headers option (#3449)
  packages/datadog-plugin-fetch/src/index.js
  packages/datadog-plugin-fetch/test/index.spec.js
Owners: @DataDog/dd-trace-js

fix disable option for fetch instrumentation (#3460)
  packages/datadog-instrumentations/src/helpers/register.js
Owners: @DataDog/dd-trace-js

Fix clientIpEnabled (#3442)
  packages/dd-trace/src/plugin_manager.js
  packages/dd-trace/test/plugin_manager.spec.js
Owners: @DataDog/dd-trace-js

Update trivially upgraded dependencies (#3409)
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

W3C is no longer prioritized over Datadog headers. (#3463)
  MIGRATING.md
Owners: @DataDog/dd-trace-js

Allow PR commenter failure instead of silencing (#3425)
  .gitlab/benchmarks.yml
Owners: @DataDog/dd-trace-js

Remove blank space in usr.id field. (#3458)
  packages/dd-trace/src/appsec/passport.js
  packages/dd-trace/test/appsec/passport.spec.js
Owners: @DataDog/appsec-js

[ci-visibility] Do not mess with jest's test-sequencer (#3452)
  integration-tests/ci-visibility.spec.js
  integration-tests/ci-visibility/run-jest.js
  integration-tests/ci-visibility/sharding-test/sharding-test-1.js
  integration-tests/ci-visibility/sharding-test/sharding-test-2.js
  integration-tests/ci-visibility/sharding-test/sharding-test-3.js
  integration-tests/ci-visibility/sharding-test/sharding-test-4.js
  integration-tests/ci-visibility/sharding-test/sharding-test-5.js
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/jest.js
  packages/dd-trace/src/plugins/index.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries

Fix stringifying mongodb queries that are self referencing but provide toJSON methods (#3417)
  packages/datadog-plugin-mongodb-core/src/index.js
  packages/datadog-plugin-mongodb-core/test/mongodb.spec.js
Owners: @DataDog/dd-trace-js

v2.43.0
  package.json
Owners: @DataDog/dd-trace-js

implement naming schema for http plugins (#3313)
  packages/datadog-plugin-aws-sdk/src/base.js
  packages/datadog-plugin-aws-sdk/src/services/lambda.js
  packages/datadog-plugin-aws-sdk/src/services/sns.js
  packages/datadog-plugin-aws-sdk/src/services/sqs.js
  packages/datadog-plugin-aws-sdk/test/kinesis-naming.js
  packages/datadog-plugin-aws-sdk/test/kinesis.spec.js
  packages/datadog-plugin-aws-sdk/test/lambda-naming.js
  packages/datadog-plugin-aws-sdk/test/lambda.spec.js
  packages/datadog-plugin-aws-sdk/test/s3-naming.js
  packages/datadog-plugin-aws-sdk/test/s3.spec.js
  packages/datadog-plugin-aws-sdk/test/sns-naming.js
  packages/datadog-plugin-aws-sdk/test/sns.spec.js
  packages/datadog-plugin-aws-sdk/test/sqs-naming.js
  packages/datadog-plugin-aws-sdk/test/sqs.spec.js
  packages/datadog-plugin-fetch/test/index.spec.js
  packages/datadog-plugin-fetch/test/naming.js
  packages/datadog-plugin-graphql/test/index.spec.js
  packages/datadog-plugin-http/src/client.js
  packages/datadog-plugin-http/src/server.js
  packages/datadog-plugin-http/test/client.spec.js
  packages/datadog-plugin-http/test/naming.js
  packages/datadog-plugin-http/test/server.spec.js
  packages/datadog-plugin-http2/src/client.js
  packages/datadog-plugin-http2/src/server.js
  packages/datadog-plugin-http2/test/client.spec.js
  packages/datadog-plugin-http2/test/naming.js
  packages/datadog-plugin-http2/test/server.spec.js
  packages/datadog-plugin-next/src/index.js
  packages/datadog-plugin-next/test/index.spec.js
  packages/datadog-plugin-next/test/naming.js
  packages/dd-trace/src/service-naming/schemas/util.js
  packages/dd-trace/src/service-naming/schemas/v0/messaging.js
  packages/dd-trace/src/service-naming/schemas/v0/web.js
  packages/dd-trace/src/service-naming/schemas/v1/messaging.js
  packages/dd-trace/src/service-naming/schemas/v1/web.js
  packages/dd-trace/test/setup/mocha.js
Owners: @DataDog/dd-trace-js

Couchbase service representation (#3441)
  packages/datadog-instrumentations/src/couchbase.js
  packages/datadog-plugin-couchbase/src/index.js
  packages/datadog-plugin-couchbase/test/index.spec.js
  packages/datadog-plugin-couchbase/test/naming.js
  packages/dd-trace/src/service-naming/schemas/v0/storage.js
  packages/dd-trace/src/service-naming/schemas/v1/storage.js
  packages/dd-trace/test/setup/mocha.js
Owners: @DataDog/dd-trace-js
