Repository DataDog/dd-trace-js, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/dd-trace-js, @DataDog/asm-js, @DataDog/debugger, @DataDog/serverless-aws, @Datadog/dd-trace-js, @Datadog/apm-idm-js, @DataDog/ci-app-libraries, @DataDog/ml-observability, @DataDog/profiling-js, @DataDog/serverless

remove flaky test
  packages/datadog-plugin-langchain/test/index.spec.js
Owners: @DataDog/ml-observability

remove comments
  packages/datadog-instrumentations/src/langchain.js
Owners: @DataDog/ml-observability

fixes
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-plugin-langchain/test/index.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-idm-js, @DataDog/ml-observability

chore: add some shared llm-type plugin utilities (#5109)
  packages/datadog-plugin-langchain/src/handlers/default.js
  packages/datadog-plugin-langchain/src/tracing.js
  packages/datadog-plugin-openai/src/tracing.js
  packages/dd-trace/src/config.js
  packages/dd-trace/src/plugins/util/llm.js
  packages/dd-trace/test/config.spec.js
  packages/dd-trace/test/plugins/util/llm.spec.js
Owners: @DataDog/ml-observability, @DataDog/dd-trace-js

Update packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/helpers/hooks.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-idm-js

lazily load SDK APIs
  packages/dd-trace/src/proxy.js
Owners: @DataDog/dd-trace-js

inject cloned request headers for http requests (#5144)
  packages/datadog-plugin-fetch/src/index.js
  packages/datadog-plugin-fetch/test/index.spec.js
  packages/datadog-plugin-http/src/client.js
  packages/datadog-plugin-http/test/client.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-idm-js

Upgrade @datadog/pprof to 5.5.0 (#5153)
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

[test optimization] Remove node 16 checks in tests (#5149)
  integration-tests/automatic-log-submission.spec.js
  integration-tests/cucumber/cucumber.spec.js
  integration-tests/init.spec.js
  integration-tests/selenium/selenium.spec.js
  packages/datadog-plugin-cassandra-driver/test/integration-test/client.spec.js
  packages/datadog-plugin-cucumber/test/index.spec.js
  packages/datadog-plugin-next/test/index.spec.js
  packages/datadog-plugin-next/test/integration-test/client.spec.js
  packages/dd-trace/test/appsec/index.next.plugin.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/ci-app-libraries, @Datadog/dd-trace-js, @Datadog/apm-idm-js, @DataDog/asm-js

(chore)LLMObs: instrument bedrock runtime invoke model (#5116)
  .github/workflows/llmobs.yml
  packages/datadog-plugin-aws-sdk/src/services/bedrockruntime/index.js
  packages/datadog-plugin-aws-sdk/test/bedrockruntime.spec.js
  packages/datadog-plugin-aws-sdk/test/fixtures/bedrockruntime.js
  packages/dd-trace/src/llmobs/plugins/bedrockruntime.js
  packages/dd-trace/test/llmobs/plugins/aws-sdk/bedrockruntime.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/ml-observability, @Datadog/dd-trace-js, @Datadog/apm-idm-js

[test optimization] [SDTEST-1272] Detect new tests regardless of Early Flake Detection (#5138)
  integration-tests/cucumber/cucumber.spec.js
  integration-tests/cypress/cypress.spec.js
  integration-tests/jest/jest.spec.js
  integration-tests/mocha/mocha.spec.js
  integration-tests/playwright/playwright.spec.js
  integration-tests/vitest/vitest.spec.js
  packages/datadog-instrumentations/src/cucumber.js
  packages/datadog-instrumentations/src/jest.js
  packages/datadog-instrumentations/src/mocha/main.js
  packages/datadog-instrumentations/src/mocha/utils.js
  packages/datadog-instrumentations/src/mocha/worker.js
  packages/datadog-instrumentations/src/playwright.js
  packages/datadog-instrumentations/src/vitest.js
  packages/datadog-plugin-cucumber/src/index.js
  packages/datadog-plugin-cypress/src/cypress-plugin.js
  packages/datadog-plugin-cypress/src/support.js
  packages/datadog-plugin-jest/src/index.js
  packages/datadog-plugin-mocha/src/index.js
  packages/datadog-plugin-playwright/src/index.js
  packages/datadog-plugin-vitest/src/index.js
  packages/dd-trace/src/ci-visibility/exporters/ci-visibility-exporter.js
  packages/dd-trace/src/ci-visibility/requests/get-library-configuration.js
  packages/dd-trace/src/plugins/ci_plugin.js
  packages/dd-trace/src/plugins/util/test.js
  packages/dd-trace/test/ci-visibility/exporters/ci-visibility-exporter.spec.js
Owners: @DataDog/ci-app-libraries, @DataDog/dd-trace-js

EOL v4 (#5142)
  README.md
Owners: @DataDog/dd-trace-js

disable (#5154)
  packages/datadog-plugin-openai/test/integration-test/client.spec.js
Owners: @DataDog/ml-observability

v5.33.0
  package.json
Owners: @DataDog/dd-trace-js

remove http.route from inferred proxy spans (#5132)
  packages/dd-trace/src/plugins/util/inferred_proxy.js
  packages/dd-trace/test/plugins/util/inferred_proxy.spec.js
Owners: @DataDog/dd-trace-js

Report stack trace in iast (#5055)
  docs/test.ts
  index.d.ts
  packages/dd-trace/src/appsec/iast/analyzers/cookie-analyzer.js
  packages/dd-trace/src/appsec/iast/analyzers/vulnerability-analyzer.js
  packages/dd-trace/src/appsec/iast/iast-context.js
  packages/dd-trace/src/appsec/iast/path-line.js
  packages/dd-trace/src/appsec/iast/vulnerabilities-formatter/index.js
  packages/dd-trace/src/appsec/iast/vulnerability-reporter.js
  packages/dd-trace/src/appsec/rasp/utils.js
  packages/dd-trace/src/appsec/stack_trace.js
  packages/dd-trace/src/config.js
  packages/dd-trace/test/appsec/iast/analyzers/hardcoded-password-analyzer.spec.js
  packages/dd-trace/test/appsec/iast/analyzers/hardcoded-secret-analyzer.spec.js
  packages/dd-trace/test/appsec/iast/analyzers/vulnerability-analyzer.spec.js
  packages/dd-trace/test/appsec/iast/path-line.spec.js
  packages/dd-trace/test/appsec/iast/utils.js
  packages/dd-trace/test/appsec/iast/vulnerability-reporter.spec.js
  packages/dd-trace/test/appsec/rasp/utils.js
  packages/dd-trace/test/appsec/rasp/utils.spec.js
  packages/dd-trace/test/appsec/stack_trace.spec.js
  packages/dd-trace/test/appsec/utils.js
  packages/dd-trace/test/config.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/asm-js

(chore)APM: Refactor Bedrock Integration (#5137)
  packages/datadog-instrumentations/src/aws-sdk.js
  packages/datadog-plugin-aws-sdk/src/services/bedrockruntime/index.js
  packages/datadog-plugin-aws-sdk/src/services/bedrockruntime/tracing.js
  packages/datadog-plugin-aws-sdk/src/services/bedrockruntime/utils.js
  packages/datadog-plugin-aws-sdk/test/bedrockruntime.spec.js
Owners: @Datadog/dd-trace-js, @Datadog/apm-idm-js, @DataDog/ml-observability

add comment for later
  scripts/verify-ci-config.js
Owners: @DataDog/dd-trace-js

lazy load remote config in proxy.js
  packages/dd-trace/src/proxy.js
Owners: @DataDog/dd-trace-js

update tap to 18
  package.json
  yarn.lock
Owners: @DataDog/dd-trace-js

don't pass usr.login to waf in setUser()
  packages/dd-trace/src/appsec/sdk/set_user.js
Owners: @DataDog/asm-js

fix test for previous commit
  packages/dd-trace/test/appsec/sdk/set_user.spec.js
Owners: @DataDog/asm-js

CODEOWNERS:

* @DataDog/dd-trace-js

/packages/dd-trace/src/appsec/ @DataDog/asm-js
/packages/dd-trace/test/appsec/ @DataDog/asm-js

/integration-tests/debugger/ @DataDog/dd-trace-js @DataDog/debugger
/packages/datadog-code-origin/ @DataDog/dd-trace-js @DataDog/debugger
/packages/datadog-plugin-*/**/code_origin.* @DataDog/dd-trace-js @DataDog/debugger
/packages/dd-trace/src/debugger/ @DataDog/dd-trace-js @DataDog/debugger
/packages/dd-trace/test/debugger/ @DataDog/dd-trace-js @DataDog/debugger

/packages/dd-trace/src/lambda/ @DataDog/serverless-aws
/packages/dd-trace/test/lambda/ @DataDog/serverless-aws

/packages/datadog-plugin-*/ @Datadog/dd-trace-js @Datadog/apm-idm-js
/packages/datadog-instrumentations/ @Datadog/dd-trace-js @Datadog/apm-idm-js
/packages/ddtrace/src/plugins/ @DataDog/dd-trace-js @Datadog/apm-idm-js
/packages/ddtrace/test/plugins/ @DataDog/dd-trace-js @Datadog/apm-idm-js

/packages/dd-trace/src/ci-visibility/ @DataDog/ci-app-libraries
/packages/datadog-plugin-jest/ @DataDog/ci-app-libraries
/packages/datadog-plugin-mocha/ @DataDog/ci-app-libraries
/packages/datadog-plugin-cucumber/ @DataDog/ci-app-libraries
/packages/datadog-plugin-cypress/ @DataDog/ci-app-libraries
/packages/datadog-plugin-playwright/ @DataDog/ci-app-libraries
/packages/datadog-plugin-vitest/ @DataDog/ci-app-libraries
/packages/dd-trace/src/plugins/util/git.js @DataDog/ci-app-libraries
/packages/dd-trace/src/plugins/ci_plugin.js @DataDog/ci-app-libraries
/packages/dd-trace/test/ci-visibility/ @DataDog/ci-app-libraries
/packages/dd-trace/test/plugins/util/git.spec.js @DataDog/ci-app-libraries
/packages/dd-trace/test/plugins/util/ci-env/ @DataDog/ci-app-libraries

/packages/datadog-instrumentations/src/jest.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/mocha/ @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cucumber.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/cypress.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/playwright.js @DataDog/ci-app-libraries
/packages/datadog-instrumentations/src/vitest.js @DataDog/ci-app-libraries

/integration-tests/ci-visibility/ @DataDog/ci-app-libraries
/integration-tests/cucumber/ @DataDog/ci-app-libraries
/integration-tests/cypress/ @DataDog/ci-app-libraries
/integration-tests/playwright/ @DataDog/ci-app-libraries
/integration-tests/jest/jest.spec.js @DataDog/ci-app-libraries
/integration-tests/mocha/mocha.spec.js @DataDog/ci-app-libraries
/integration-tests/playwright/playwright.spec.js @DataDog/ci-app-libraries
/integration-tests/cucumber/cucumber.spec.js @DataDog/ci-app-libraries
/integration-tests/cypress/cypress.spec.js @DataDog/ci-app-libraries
/integration-tests/vitest/vitest.spec.js @DataDog/ci-app-libraries
/integration-tests/vitest.config.mjs @DataDog/ci-app-libraries
/integration-tests/test-api-manual.spec.js @DataDog/ci-app-libraries

/packages/dd-trace/src/service-naming/ @Datadog/apm-idm-js
/packages/dd-trace/test/service-naming/ @Datadog/apm-idm-js

/packages/dd-trace/src/llmobs/ @DataDog/ml-observability
/packages/dd-trace/test/llmobs/ @DataDog/ml-observability
/packages/datadog-plugin-openai/ @DataDog/ml-observability
/packages/datadog-plugin-langchain/ @DataDog/ml-observability
/packages/datadog-instrumentations/src/openai.js @DataDog/ml-observability
/packages/datadog-instrumentations/src/langchain.js @DataDog/ml-observability
/packages/datadog-plugin-aws-sdk/src/services/bedrockruntime @DataDog/ml-observability
/packages/datadog-plugin-aws-sdk/test/bedrockruntime.spec.js @DataDog/ml-observability

# CI
/.github/workflows/appsec.yml @DataDog/asm-js
/.github/workflows/ci-visibility-performance.yml @DataDog/ci-app-libraries
/.github/workflows/codeql-analysis.yml @DataDog/dd-trace-js
/.github/workflows/core.yml @DataDog/dd-trace-js
/.github/workflows/lambda.yml @DataDog/serverless-aws
/.github/workflows/package-size.yml @DataDog/dd-trace-js
/.github/workflows/plugins.yml @DataDog/dd-trace-js
/.github/workflows/pr-labels.yml @DataDog/dd-trace-js
/.github/workflows/profiling.yml @DataDog/profiling-js
/.github/workflows/project.yml @DataDog/dd-trace-js
/.github/workflows/release-3.yml @DataDog/dd-trace-js
/.github/workflows/release-dev.yml @DataDog/dd-trace-js
/.github/workflows/release-latest.yml @DataDog/dd-trace-js
/.github/workflows/release-proposal.yml @DataDog/dd-trace-js
/.github/workflows/serverless-integration-test.yml @DataDog/serverless-aws @DataDog/serverless
/.github/workflows/system-tests.yml @DataDog/dd-trace-js @DataDog/asm-js
/.github/workflows/test-k8s-lib-injection.yaml @DataDog/dd-trace-js
/.github/workflows/tracing.yml @DataDog/dd-trace-js
/.gitlab/benchmarks.yml @DataDog/dd-trace-js
/.gitlab-ci.yml @DataDog/dd-trace-js
